<% include partials/header %>

<h1><%= recipe.name %></h1>

<img src="<%= recipe.image %> ">

<p><%= recipe.description %></p>

<% recipe.comments.forEach(function(){%>
    <p>
        <strong>
        <%= comment.author %> - <%= comment.text %>
        </strong>
    </p>
<% })%>

<% include partials/footer %>