<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Edit <%= recipe.name%></h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[name]" value="<%= recipe.name%>">
                </div>
                <div class="form-group">
                        <label for="category">Category :</label>
                        <select name="recipe[category]">
                                <option value="Starter">Starter</option>
                                <option value="Main">Main</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Side">Side</option>
                        </select>  
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="recipe[url]" value="<%=recipe.url%>">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="recipe[recipeAuthor]" value="<%=recipe.recipeAuthor%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[image]" value="<%= recipe.image%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[cookingTime]" value="<%= recipe.cookingTime%>">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="recipe[calories]" value="<%=recipe.calories%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[ingredients]" value="<%=recipe.ingredients%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[description]" value="<%=recipe.description%>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/recipes">Go back to recipes</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>