<% include ../partials/header %>

<div id="full-content">
    <div class="grid-wrapper">
        <div class="jumbotron">
            <h1>Aad & Manon's recipe library</h1>
            <p>Favorite recipes and new ones to experiment with !</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/recipes/new">Enter new recipe</a>
            </p>
        </div>
        <div id="link-list" class="">
            <p class="">Favorite recipe creators</p>
            <div class="list-group">
                <li class="list-group-item">RecipeTin Eats</li>
                <li class="list-group-item">Mob Kitchen</li>
                <li class="list-group-item">Well Plated</li>
            </div>
        </div>
        <div class="recipe-show">
            <!--Filters and buttons-->
            <div style="display: block;">
                <h3>Our favorite recipes</h3>
                <input id="textField"  type="text" name="filter" placeholder="Search recipes by ingredient">
                <select id="selectCategory">
                    <option value="">Category</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Side">Side</option>
                </select>  
                <button id="reset">Clear filters</button>
            </div>
            <div style="display: block;">
                <h5>Search by tag: </h3>
                <button id="tagHouseFavorite">House favorite</button>
                <button id="tagSlowCooker">Slow cooker</button>
                <button id="tagVegetarian">Vegetarian</button>
            </div>
            <!-- Creates a card for each recipe in DB -->
            <% recipes.forEach(function(recipe){ %>
            <div class="recipe-card thumbnail">
<<<<<<< HEAD
                    <a href="/recipes/<%= recipe._id %>"><img id="recipe-card" src="<%= recipe.image %>"></a>
=======
                    <a href="/recipes/<%= recipe._id %>"><img src="<%= recipe.image %>"></a>
>>>>>>> 614628651bf38cc3a759bc8915825dc220654730
                    <h4><%= recipe.name %></h4>
                    <p>
                        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More details</a>
                    </p>
            </div>
            <% }); %>
            
        </div>
    </div>
</div>

<script>
    
    let resetButton = document.getElementById("reset");
    let houseFavorite = document.getElementById("tagHouseFavorite");
    let slowCooker = document.getElementById("tagSlowCooker");
    let vegetarian = document.getElementById("tagVegetarian");
    let recipeThumbnails = document.getElementsByClassName('recipe-card');
    let inputField = document.getElementById("textField");
    let categoryDropdown = document.getElementById("selectCategory");
    let recipes;
    let recipesFilter;
    let recipesFilteredNames = [];
    let targetProperty;
    
    fetch('/recipes/raw')
        .then((response) =>{
            return response.json();
        })
        .then((myJson) => {
            //console.log(myJson);
            recipes = myJson;
        });

    //filters recipes based on ingredients search
    function filterEnLive(theInput){
        // console.log(theInput.target.value);
        recipesFilter = recipes.filter(r => r.ingredients.toLowerCase().includes(theInput.target.value) > 0);
        //console.log("filtered: " + recipesFilter);
        // // Adding recipes
        fillRecipesFilter(recipesFilter);
    }
    
    //hides cards based on the filter
    function fillRecipesFilter(recipesFilter){
        recipesFilteredNames = [];
        recipesFilter.forEach(recipe => {recipesFilteredNames.push(recipe.name);});
        for(var i = recipeThumbnails.length - 1; i >= 0; i--){
            if(recipesFilteredNames.indexOf(recipeThumbnails[i].childNodes[3].textContent.toString()) === -1){
                recipeThumbnails[i].classList.add("invisible");
            };
        };
        
    }

    //filters by category
    function filterCat(selection){
        console.log(selection.target.value);
        recipesFilter = recipes.filter(r => r.category.includes(selection.target.value));
        fillRecipesFilter(recipesFilter);
    }

    function filterTag(selection){
        console.log(this.innerHTML);
        recipesFilter = recipes.filter(r => r.tags.includes(this.innerHTML));
        fillRecipesFilter(recipesFilter);
    }

    houseFavorite.addEventListener("click", filterTag);
    slowCooker.addEventListener("click", filterTag);
    vegetarian.addEventListener("click", filterTag);

    inputField.addEventListener("input", filterEnLive);

    categoryDropdown.addEventListener("change", filterCat);

    resetButton.addEventListener("click", function(){
        for(var i = recipeThumbnails.length - 1; i >= 0; i--){
            recipeThumbnails[i].classList.remove("invisible");;
        };
        inputField.value = "";
    });

</script>

<% include ../partials/footer %>